#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* .quiz-section */

.name-of-quiz-div {
    border: 1px solid white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
    /* padding: 1em; */
}

.review-question {
    text-align: start;
}
.review-choices {
    list-style-position: inside;
    text-align: start;
    padding-left: 0;
    margin-left: 0;
}
/* list */
.review-choice {
}
.review-answer:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 250ms;
}

.prev-next-btns {
    margin-bottom: 1.5rem;
}
.prev-btn {
    margin-right: 0.6rem;
}
.prev-btn,
.next-btn {
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
